In [40]:
import numpy as np
import pandas as pd

In [41]:
train_df = pd.read_csv("review_train.csv")

In [42]:
test_df = pd.read_csv("review_test.csv")

In [43]:
train_df.columns.difference(test_df.columns)

Index([], dtype='object')

In [44]:
train_df.shape

(14825, 3)

In [45]:
test_df.shape

(3707, 3)

In [46]:
train_df["Source"] = "train"
test_df["Source"] = "test"

In [47]:
train_df.columns

Index(['Text', 'Score', 'Sentiment', 'Source'], dtype='object')

In [48]:
test_df.columns

Index(['Text', 'Score', 'Sentiment', 'Source'], dtype='object')

In [49]:
df = pd.concat([train_df, test_df])

In [50]:
df.shape

(18532, 4)

In [51]:
df.head()

                                                Text  Score  Sentiment Source
0  I got a free sample of these once, and now--we...      5          1  train
1  I used to get this Tea when I lived in Washing...      4          1  train
2  This is my all time favorite 'grab and go' sna...      5          1  train
3  This flavor is very good and unexpected.  The ...      4          1  train
4  thrilled to have this assortment as i got the ...      4          1  train

In [52]:
df.tail()

,Text,Score,Sentiment,Source
3702,I always have Powerade in the house - for ever...,5,1,test
3703,I tried this coffee on a half dozen quests thi...,5,1,test
3704,The Neccos were exactly what I expected and fr...,5,1,test
3705,I thought I was doing the right thing by getti...,1,0,test
3706,Cugino's chicken noodle soup is pretty tasty. ...,5,1,test

Ref: Noor's notes on EDA, Preprocessing, NLP Preprocessing, Text Pre-processor